:root {
  font-family: 'Staatliches', cursive;
  font-family: 'Covered By Your Grace', cursive;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Opens Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Staatliches', cursive;
  color: #15B9D5;
}

.navegacion {
  background-color: #15B9D5;
}

header .nav a {
  font-family: 'Staatliches', cursive;
  font-size: 2rem;
  color: white;
}